button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #bfdbfe;
}

@media (hover: none) {
  button:hover {
    background-color: #f2f2f2;
  };
}
