.config {
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 1rem;
	gap: 1rem;
	font-size: 2rem;
}

.config input {
  display: block;
	font-size: 2rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}

@media (max-width: 480px) {
  .config {
    flex-direction: column;
  }
}
