body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-bottom: 1px solid;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.title select {
  font-size: 2rem;
}

.config {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

select {
  text-align: center;
  text-align-last: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0;

}

.config select {
  font-size: 1.5rem;
}

select:hover {
  background: #bfdbfe;
}

.config div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-left: 1px solid;
  border-right: 1px solid;
}

button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #bfdbfe;
}

.chrono-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
}

#chrono {
  font-size: 3rem;
  letter-spacing: 0.1em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 2rem;
}

.chrono-buttons {
  display: flex;
  gap: 0.5rem;
}
